@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap');

:root {
    --roxo-color: rgb(130, 87, 230);
    --t-color: rgb(225, 225, 230);
    --background-color: #282a36;
}

* {
    margin: 0;
    padding: 0;
    color: var(--t-color);
}

body {
    background:#282a36;
    font-family: 'Source Sans Pro', sans-serif;
}

main header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
}

main header a {
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
    font-weight: 600;
}
main header a:hover {
    transition: 200ms;
    border-bottom: 1px solid var(--roxo-color);
}