@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap');

:root {
    --roxo-color: rgb(130, 87, 230);
    --t-color: rgb(225, 225, 230);
    --background-color: #282a36;
    --color-laranja-DH: #cb1e40;
}

* {
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    list-style: none;
}

body {
    background:#282a36;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

main header {
    padding: 3vh;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

.links a {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin: 0 1.6rem;
}
.links a:hover {
    transition: 200ms;
    color: #cb1e40;
    border-bottom: 1px solid var(--color-laranja-DH);
}

/* }.links a:last-child {
    display: none;
} */

.wrapper {
    /* padding: 32px; */
    padding: 2.5rem;

}

.wrapper img {
    border-radius: 50%;
    height: 12vw;
    border: 5px solid rgba(203, 30, 64, 1);
    margin-bottom: 3vh;
}
.wrapper h1 {
    font-size:2rem;
    line-height: 3rem;
}
.wrapper h2 {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: normal;
}
.wrapper p {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.wrapper p a:hover {
    border-bottom: 1px solid var(--color-laranja-DH);
}

.wrapper p a span {
    color: var(--color-laranja-DH);
}


footer {
    margin: 0;
    padding: 0;
}
footer .links a {
    font-size: 1.4rem;
}